$darkBlue: #003674;
$lightBlue: #00B8FE;
$red: #ED1041;
$footerBlue: #000F60;
$activeGreen: #66d82b;

@mixin small-desktop {
	@media only screen and ( max-width : 1600px ) {
		@content;
	}
}

@mixin tablet {
	@media only screen and ( max-width : 1024px ) {
		@content;
	}
}

@mixin mobile {
	@media only screen and ( max-width : 414px ) {
		@content;
	}
}

@mixin mobile-landscape {
	@media only screen and ( min-device-width : 414px ) and ( max-device-width : 736px ) and ( orientation : landscape ) {
		@content;
	}
}

@font-face {
	font-family: 'uniform_roundedultra';
	src: url("../fonts/miller_type_foundry_-_uniform_rounded_ultra-webfont.woff2") format("woff2"), url("../fonts/miller_type_foundry_-_uniform_rounded_ultra-webfont.woff") format("woff"), url("../fonts/miller_type_foundry_-_uniform_rounded_ultra-webfont.svg#uniform_roundedultra") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'uniform_roundedblack';
	src: url("../fonts/miller_type_foundry_-_uniform_rounded_black-webfont.woff2") format("woff2"), url("../fonts/miller_type_foundry_-_uniform_rounded_black-webfont.woff") format("woff"), url("../fonts/miller_type_foundry_-_uniform_rounded_black-webfont.svg#uniform_roundedblack") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'uniform_roundedbold';
	src: url("../fonts/miller_type_foundry_-_uniform_rounded_bold-webfont.woff2") format("woff2"), url("../fonts/miller_type_foundry_-_uniform_rounded_bold-webfont.woff") format("woff"), url("../fonts/miller_type_foundry_-_uniform_rounded_bold-webfont.svg#uniform_roundedbold") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
    font-family: 'uniform_roundedregular';
    src: url('../fonts/miller_type_foundry_-_uniform_rounded-webfont.woff2') format('woff2'),
         url('../fonts/miller_type_foundry_-_uniform_rounded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {

}

.main {
	width: 100%;
	height: 100%;
}

.header {
	position: fixed;
	display: flex;
	width: 100%;
	top: 0;
	height: 127px;
	z-index: 999;
	background-color: #FFF;
	box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
	transition: all .2s ease-out;

	@include tablet {
		flex-wrap: wrap;
		height: 60px;

		&.open {
			height: 340px;
		}
	}
}

.header_logo {
	position: relative;
	width: 128px;
	position: relative;
	display: inline-block;
	display: flex;
	justify-content: space-between;
	align-items: center;


	.hamburger {
		display: none;
		position: relative;
		width: 30px;
		height: 24px;
		//background-color: blue;

		.burger {
			width: 100%;
			height: 6px;
			border-radius: 15px;
			background-color: $darkBlue;

		}

		@include tablet {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			//margin-right: 60px;

		}
	}

	@include tablet {

		width: 100%;
		padding-left: 60px;
		padding-right: 60px;
		padding-top: 4px;
		align-self: flex-start;

		img {
			width: 75px;
			max-width: 100%;
			max-height: 100%;
		}
	}

	@include mobile {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.nav {
	position: relative;
	width: auto;
	height: auto;
	display: flex;
	display: -ms-flexbox;
	margin-left: 67px;

	@include tablet {
		//top: -10px;
		flex-wrap: wrap;
		text-align: center;
		margin-left: 0;
		margin-top: -10px;
		//background-color: aqua;
		//justify-content: space-between;
	}
}


.navItem {
	font-family: 'uniform_roundedbold';
	font-size: 24px;
	color: $darkBlue;
	margin-left: 40px;
	letter-spacing: -.24px;
	line-height: 1.08333;
	transition: all .2s ease-out;
	z-index: 40;

	&:hover {
		color: $activeGreen;
	}

	&:first-child {
		margin-left: 0;
	}

	&.active {
		color: $activeGreen;
	}

	@include tablet {
		width: 100%;
		margin-left: 0;
		margin-top: 0px;
		margin-bottom: 34px;
		display: none;
		visibility: hidden;
		opacity: 0;
		//display: inline-block;
		align-self: flex-start;
		//border-top: 1px solid black;
		//background-color: aqua;
		
		&:last-child {

		}

		&.open {
			display: inline-block;
			//opacity: 1;
		}
	}
}

.game {
	position: relative;
	width: 100%;
	height: 570px;
	display: flex;
	display: -ms-flexbox;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-image: url(../images/game_logo_shadow.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 44%;

	a {
		width: 100%;
		height: 100%;
	}

	@include mobile {
		background-size: 75%;
		background-position: center 70%;
		height: 510px;
	}

	@include mobile-landscape {
		height: 320px;
	}

	.gameLogo {
		position: relative;
		width: 90%;
		height: 70%;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		
		@include mobile-landscape {
			margin-top: 20px;
			height: 50%
		}
		
		.top {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		
		.bottom {
			position: absolute;
			width: 100%;
			height: 100%;
			//background-color: aqua;
		}

	}

	.cta {
		position: relative;
		display: block;
		top: 20px;

		width: 220px;
		height: 60px;

		//width: 90%;
		//height: 15%;
		//background-image: url(../images/cta_border.png);
		//background-repeat: no-repeat;
		//background-position: center top;

		border: 3px solid #FFF;
		border-radius: 30px;

		//margin-bottom: 20px;

		margin-left: auto;
		margin-right: auto;

		cursor: pointer;

		@include mobile-landscape {
			border: 2px solid #FFF;
			width: 180px;
			height: 50px;
			margin-bottom: 10px;
			margin-top: 10px;
		}

		p {
			//background-color: blue;
			text-align: center;
			font-family: 'uniform_roundedbold';
			font-size: 24px;
			color: #FFF;
			margin-top: 12px;
			pointer-events: none;


			@include mobile-landscape {
				margin-top: 10px;
				font-size: 20px;
			}

		}

	}

	.arrow {
		width: 90%;
		width: 220px;
		height: 10%;
		background-image: url(../images/arrow.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 4%;
		background-size: 20%;
		//transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		cursor: pointer;
		//background-color: aqua;
		z-index: 990;

		&:hover {
			//background-position: center 70%;
		}

		@include mobile {
			background-size: 20%;
		}
		@include mobile-landscape {
			margin-top: 20px;
			margin-bottom: 20px;
		}

	}

	&.catch_a_bite {
		background-color: $lightBlue;
		margin-top: 127px;

		@include tablet {
			margin-top: 60px;
		}

		.gameLogo {
			background-image: url(../images/cab_logo.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			.bottom {
				background-image: url(../images/cab_logo_inner.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
			}
		
			.top {
				background-image: url(../images/cab_logo_outer.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
			}
		}

	}

	&.float_away {
		background-color: $darkBlue;

		.gameLogo {
			background-image: url(../images/fa_logo.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
	}

	&.get_airheaded {
		background-color: $red;

		.gameLogo {
			background-image: url(../images/ga_logo.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
	}

}

.divider {
	position: absolute;
	width: 100%;
	height: 12px;
	bottom: -12px;
	z-index: 20;
	background-repeat: repeat-x;

	&.white {
		background-image: url(../images/edge-white.svg);
	}
	&.lightblue {
		background-image: url(../images/edge-lightblue.svg);
	}
	&.darkblue {
		background-image: url(../images/edge-darkblue.svg);
	}
	&.red {
		background-image: url(../images/edge-red.svg);
	}
}

.footer {
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 256px;
	background-color: $footerBlue;
	//margin-top: -1px;

	@include tablet{
		//background-color: red;
		height: auto;
	}

}

.footer_nav {
	position: relative;
	height: auto;
	width: 100%;
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include small-desktop {
		flex-wrap: wrap;
	}

	@include tablet {
		padding-top: 100px;

	}
}

.footer_links {
	position: relative;

	@include small-desktop {
		width: 100%;
	}

	a {
		display: inline-block;
		margin-right: 20px;
		font-family: 'uniform_roundedbold';
		font-size: 18px;
		color: #FFF;
		letter-spacing: .24px;
		line-height: 1.08333;
		text-transform: uppercase;
		text-rendering: optimizeLegibility;
		font-smooth: always;
		-webkit-font-smoothing: antialiased;

		&:hover {
			text-decoration: underline;
		}

		@include small-desktop {
			font-size: 15px;
			letter-spacing: .6px;
			line-height: 1.8667;
		}
	}
}

.footer_social {
	position: relative;
	width: auto;
	height: 54px;

	@include small-desktop {
		width: 100%;
		//height: 44px;
		margin: 20px 0;
	}

	a {
		position: relative;
		display: inline-block;
		width: 54px;
		height: 54px;
		margin-left: 8px;

		@include small-desktop {

			&:first-child {
				margin-left: 0;
			}
		}

		@include mobile {
			width: 44px;
			height: 44px;
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

}

.legal {
	font-size: 13px;
	letter-spacing: .52px;
	line-height: 1.38462;
	margin-top: 8px;
	//max-width: 580px;
	color: #FFF;
	margin-left: 40px;
	font-family: 'uniform_roundedregular';
	text-rendering: optimizeLegibility;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	font-weight: lighter;
	//border: 1px solid #FFF;

	@include small-desktop {
		font-size: 11px;
	}

	@include tablet {
		padding-bottom: 80px;
	}
}


#ga_arrow {
	opacity: 0;
	visibility: hidden;
}

body.cab {
	background-color: $lightBlue;
}

body.fa {
	background-color: $darkBlue;
}

body.ga {
	background-color: $red;
}

.gamePage {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	min-height: 800px;

	//overflow-y: hidden;

	display: flex;
	flex-direction: column;
	align-content: space-around;
	align-items: center;


}

.instructions {
	position: relative;
	width: 100%;
	height: 14%;
	min-height: 120px;
	margin-top: 127px;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;


	@include tablet {
		//display: none;
		margin-top: 60px;
	}

	@include mobile {
		display: none;
	}

	p {
		position: relative;
		width: 100%;
		height: auto;
		text-align: center;
		font-family: 'uniform_roundedbold';
		font-size: 28px;
		letter-spacing: .25px;
		color: #FFF;
		text-rendering: optimizeLegibility;
		font-smooth: always;
		-webkit-font-smoothing: antialiased;
		filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));

		@include tablet {
			font-size: 22px;
		}
	}
}

.gameHolder {
	position: relative;
	width: 1280px;
	height: 500px;
	min-height: 500px;
	//margin-top: 157px;
	//margin-left: auto;
	//margin-right: auto;
	margin-bottom: 60px;

	.gameContainer {
		width: 100%;
		height: 100%;
	}

	@include tablet{
		//top: 0;
		//left: 0;
		//transform: translate(0, 0);
		width: 100%;
		//height: 100%;
	}

	@include mobile {
		top: 0;
		left: 0;
		transform: translate(0, 0);
		width: 100%;
		height: 100%;
	}
}

.cab .header {
	@include mobile {
		display: none;
	}
}

.fa .header {
	@include mobile {
		display: none;
	}
}

.ga .header {
	@include mobile {
		display: none;
	}
}
















































//
