.callout {
	display: none;
	max-width: $posts-container-width + $padding-left-right * 2;
	margin: auto;
	text-align: right;

	.home-page & {
		display: block;

		@include breakpoint(small) {
			display: none;
		}
	}

	&_text {
		@include icon(arrow-curvy);
		color: $color-green;
		font-size: 40px;
		letter-spacing: 0.7px;

		&:before {
			position: relative;
			color: $color-green;
			font-size: 50px;
			display: inline-block;
			right: 11px;
			top: 15px;
		}
	}

	@include breakpoint(small) {
		display: none;
	}
}
