.global-footer {
	background-color: $color-blue;
	// hack: extend background-color to bottom of viewport
	box-shadow: 0px 100vh 0px 100vh $color-blue;
	color: $color-white;
	padding-top: 40px;
	padding-bottom: 60px;
	// fix: sometimes can see 1px white pixels in separator
	margin-top: -1px;

	&:before {
		background-image: url("//assets.airheads.com/img/edge-blue.svg");
		background-position: top left;
		background-size: 29px 12px;
		content: "";
		height: 12px;
		bottom: 0;
		left: -15px; // lines up with header :)
		position: absolute;
		right: 0;
		top: -12px; /* -height */
	}

	&_inner {
		padding: 20px 0;
		// max-width: 1200px;
		margin: auto;
	}

	&_links-group {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&_social {
		flex-shrink: 0;
	}

	&_link {
		@include font-size-tracking(18, 40, 30);
		text-transform: uppercase;
		margin-right: 20px;
		display: inline-block;
		font-weight: bold;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	//tablet
	$social-width: 50px;
	$border-width: 2px;
	//mobile
	$social-width-mobile: 40px;
	$border-width-mobile: 2px;

	&_social-item {
		display: inline-block;
		height: $social-width + $border-width * 2;
		width: $social-width + $border-width * 2;
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			&:before {
				color: $color-blue;
			}

			&:after {
				background-color: $color-white;
			}
		}

		&:before {
			font-size: 26px;
			left: 0;
			position: absolute;
			text-align: center;
			top: 14px;
			transition: color 120ms linear;
			width: 100%;
			z-index: 1;
		}

		&:after {
			transition: background-color 120ms linear;
			content: "";
			border: $border-width solid $color-white;
			border-radius: 50%;
			height: $social-width;
			width: $social-width;
			position: absolute;
			left: 0;
			top: 0;
		}

		@include breakpoint(small) {
			height: $social-width-mobile + $border-width-mobile * 2;
			width: $social-width-mobile + $border-width-mobile * 2;

			&:before {
				font-size: 22px;
				top: 11px;
			}
			&:after {
				height: $social-width-mobile;
				width: $social-width-mobile;
			}
		}
	}

	&_copyright {
		@include font-size-tracking(13, 40, 18);
		margin-top: 8px;
		max-width: 580px;
	}

	@include breakpoint(large) {
		&_links-group {
			display: block;
		}

		&_links {
			max-width: 100%;
		}

		&_link {
			@include font-size-tracking(15, 40, 28);
			margin: 0 10px;
		}

		&_social {
			margin: 22px 0;
		}

		&_copyright {
			font-size: 11px;
			margin: 17px 0 0;
		}
	}
}
