// Global shared styles

* {
	box-sizing: border-box;
	position: relative;
}

// images are generally always wrapped in a div
img {
	display: block;
}

// start any elements dependent on page Type with opacity 0, fade in with js
[data-page] {
	opacity: 0;
}

.tmblr-iframe--controls-phone-container {
	padding-top: 0 !important; // override tumblr's embedded css
}

// wrapper for modules spanning full width
.container--padding-left-right {
	padding-left: $padding-left-right;
	padding-right: $padding-left-right;

	@include breakpoint(small) {
		padding-left: $padding-left-right-mobile;
		padding-right: $padding-left-right-mobile;
	}
}

.main_header {
	@include breakpoint(small) {
		margin-top: 45px;
	}
}

.main_content {
	& > p {
		@include font-size-tracking(20, 20, 30);
		color: $color-blue-light;
		max-width: 800px;
		margin: 50px auto;
		text-align: center;

		&.main_content--message {
			@include font-size-tracking(32, -20, 40);
			color: #04b0f1;
			min-height: 150px;

			@include breakpoint(small) {
				font-size: 26px;
				line-height: 1.1;
				padding: 0 5%;
			}
		}
	}

	h1 {
		@include font-size-tracking(54, 40);
		margin: 93px auto 62px;
		color: $color-text-blue;

		.faq-page & {
			margin-top: 50px;
			margin-bottom: 20px;
		}
	}

	&-wrapper {
		max-width: $posts-container-width;
		margin: auto;
	}
}

.product-slider,
.hero {
	&--hidden {
		display: none;
	}

	img {
		width: 100%;
		display: block;
	}
}

.slick-arrow {
	font-size: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;

	&:before {
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.slick-prev {
	@include icon(caret-left-thin);
	left: 2%;
}

.slick-next {
	@include icon(caret-right-thin);
	right: 2%;
}

// Accessibility, hidden text
.visually-hidden {
	@include visually-hidden;
}

@keyframes wiggle {
	0% {
		transform: rotate(2deg);
	}
	25% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-2deg);
	}
	75% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(2deg);
	}
}

// hide the tumblr app button
.app-cta-button {
	display: none !important;
}
