$color-black: #000;
$color-blue: #000f60;
$color-blue-light: #00adff ;
$color-blue-twitter: #1cafec;
$color-green: #66d82b;
$color-green-light: #66d82b;
$color-purple: #6b468f;
$color-red: #ed174c;
$color-red-bright: #ed002f;
$color-white: #fff;

$color-border-light-blue: #f2f6fb;

$color-text-light-blue: #00adff;
$color-text-blue: #000f60;
$color-text-dark-blue: #04487f;

$san-serif-stack: Calibri, Myriad, Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack: Georgia, Times, 'Times New Roman', serif;

$post-width: 500px;
$post-margin: 20px;
$post-margin-mobile: 15px;
$posts-container-width: ($post-width * 2) + $post-margin;


// Global padding
$padding-left-right: 40px;
$padding-left-right-mobile: percentage(15/320);

// Breakpoints
$nano-breakpoint: 340px;
$micro-breakpoint: 480px;
$tiny-breakpoint: 640px;
$small-breakpoint: 960px;
$medium-breakpoint: 1024px;
$large-breakpoint: 1600px;

// Grid
// $small-screen: new-breakpoint(max-width ($small-breakpoint - 1px) 6);
// $medium-screen: new-breakpoint(min-width $small-breakpoint 12);
// $large-screen: new-breakpoint(min-width $large-breakpoint 12);

// easing
$cubic-bezier: cubic-bezier(0.45, 0.05, 0.55, 0.95);

// sawtooth divider settings
// FIXME: consolidate these
$sawtooth-height: 12px;
$edge-height: 29px;
$edge-small-height: 12px;
