.product-nav {
	margin: 20px auto;
	max-width: 1235px;
}

.product-nav_callout {
	display: none;

	//   @include breakpoint(medium) {
	//     display: block;
	//     margin-bottom: 32px;
	//   }
}

.product-nav_callout-text {
	@include font-size-tracking(45, 5, 30);
	color: $color-text-light-blue;
	padding: 2%;
	text-align: center;

	@include breakpoint(medium-only) {
		margin-top: 35px;
	}

	@include breakpoint(medium) {
		@include icon(arrow-curvy, true);
		color: $color-text-light-blue;

		&:after {
			font-size: 38px;
			margin-top: 8px;
			transform: rotate(30deg) scaleX(-1);
		}
	}
}

.product-nav_row {
	display: flex;
	// flex-wrap: wrap;
	padding-bottom: 2%;
	text-align: center;

	@include breakpoint(small) {
		display: none;
	}
}

.product-nav_link {
	align-items: center;
	display: flex;
	flex: 1 0%;
	flex-direction: column;
	justify-content: center;
}

.product-nav_image {
	margin: 0 auto 0%;

	.product-nav_link--hover &,
	.product-nav_link--image:hover & {
		animation: wiggle 200ms 2;
	}
}

.product-nav_link--text {
	@include font-size-tracking(20, -5, 25);
	color: $color-text-blue;
	font-weight: 700;
	transition: color 120ms linear;

	&.product-nav_link--hover,
	&:hover {
		color: $color-green-light;
		outline: none;
	}

	p {
		// IE11 fix: text does not wrap unless you do this
		width: 100%;
	}

	//   @include breakpoint(medium-and-below) {
	// 	display: none;
	//   }

	//   @include breakpoint(medium-only) {
	//     max-width: 240px;
	//   }

	//   @include breakpoint(small) {
	//     max-width: none;
	//   }
}

.product-nav_line-break {
	display: block;
}
