$background-min-width: 1500px;

.background-rail {
	position: absolute;

	&_inner {
		position: absolute;
		width: 100%;
		min-width: $background-min-width;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		bottom: 0;
		z-index: -1;

		@include breakpoint(1200px) {
			display: none;
		}
	}
	&_wrapper {
		position:absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		overflow: hidden;
		z-index: -1;

	}

	&--left {
		width: 246px;
		height: 1574px;
		top: 91px;
		left: 0;
		// 1px to prevent rounding bug
		background: url('//assets.airheads.com/img/background-left-rail.jpg') 1px 0 repeat-y;
	}

	&--right {
		width: 188px;
		height: 1731px;
		top: 0;
		right: 0;
		background: url('//assets.airheads.com/img/background-right-rail.jpg') -1px 0 repeat-y;
	}
}
