.btn {
	@include font-size-tracking(22, 0, 34);
	border: 3px solid #00aeef;
	border-radius: 9999px;
	color: #00aeef;
	cursor: pointer;
	display: inline-block;
	padding: 25px 24px 21px;
	text-align: center;

	@include breakpoint(medium) {
		@include font-size-tracking(20, 0, 20)
	}

	@include breakpoint(small) {
		@include font-size-tracking(18, 0, 18)
		display: block;
	}

	&:hover {
		background-color: #00aeef;
		color: white;
	}
}
