.project {
  margin: 10% auto;
  max-width: 1000px;

  @include breakpoint(medium-only) {
    margin-bottom: 10%;
  }

  @include breakpoint(small) {
    margin-bottom: 20%;
  }
}

.project_type {
  @include icon(label);
  color: #00acee;
  font-size: 1px;
  margin-bottom: 10px;

  &:before {
    font-size: 33px;
  }
}

.project_heading {
  margin-bottom: 5%;
}

.main_content .project_title {
  @include font-size-tracking(66, 0, 64);
  color: #005daa;
  display: inline;
  margin: 0;
  padding-right: 16px;

  @include breakpoint(medium-and-below) {
    letter-spacing: -0.5px;
  }
}

.project_difficulty-level,
.project_difficulty-balloon {
  display: inline-block;
}

.project_difficulty-balloon {
  margin-right: 3px;
  height: 33px;
  width: 24px;
}

.project_description,
.project_supplies-list,
.project_step-text {
  @include font-size-tracking(20, -25, 30);
  color: #027ec6;
}

.project_description,
.project_step-text {
  @include breakpoint(medium-and-below) {
    line-height: 1.4;
  }
}

.project_supplies-title {
  @include font-size-tracking(22, -20, 28);
  color: #00acee;
  margin: 0;
  text-transform: uppercase;
}

.project_description {
  margin-bottom: 4%;
  max-width: 700px;

  @include breakpoint(small) {
    margin-bottom: 25px;
  }
}

.project_supplies-list {
  list-style-type: none;
  margin-bottom: 5%;
}

.project_supplies-item {
  display: inline;

  &:after {
    content: ", ";
  }

  &:last-child:after {
    content: "";
  }
}

.project_download {
  margin-bottom: 7%;

  @include breakpoint(small) {
    padding-top: 3%;
  }
}

.project_steps {
  counter-reset: numList;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project_step {
  @include breakpoint(medium-and-above) {
    display: flex;
    align-items: center;
  }

  @include breakpoint(small) {
    margin-bottom: 10%;
  }

  margin-bottom: 25px;
}

.project_step-image-wrapper {
  @include breakpoint(medium-and-above) {
    margin-right: percentage(60/920);
    width: percentage(500/920);
  }

  @include breakpoint(small) {
    margin-bottom: 5%;
  }

  &:before {
    @include font-size-tracking(40, -25, 40);
    background: #04b0f1;
    bottom: 0;
    color: white;
    counter-increment: numList;
    content: counter(numList);
    display: block;
    height: 60px;
    line-height: 60px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 60px;
    z-index: 2;
  }
}

.project_step-image {
  max-width: 100%;
}

.project_step-text-wrapper {
  @include breakpoint(medium-and-above) {
    width: percentage(360/920);
  }
}

.project_step-text {
  &:before {
    @include font-size-tracking(24, -20, 36);
    color: #00acee;
    content: "Step " counter(numList) ".";
    display: block;
    text-transform: uppercase;
  }
}

