@font-face {
  font-family: 'uniform_roundedultra';
  src: url("../../fonts/miller_type_foundry_-_uniform_rounded_ultra-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'uniform_roundedblack';
  src: url("../../fonts/miller_type_foundry_-_uniform_rounded_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'uniform_roundedbold';
  src: url("../../fonts/miller_type_foundry_-_uniform_rounded_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  body, * {
    overflow: hidden;
  }
}

div {
  position: absolute;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .instructions {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .instructions {
    display: none;
  }
}

@media (max-width: 767px) {
  .gamePage {
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .gameHolder {
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gameHolder {
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .gameHolder {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  #gameContainer {
    width: 100vw;
    height: 100vh;
  }
}

#main {
  width: 1280px;
  height: 500px;
  background-image: url(../bg.jpg);
  overflow: hidden;
  border: 2px solid #FFF;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../bg_p.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #main {
    width: 100vw;
    height: 100vh;
    background-image: url(../bg_p.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border: none;
  }
}

@media (max-width: 767px) {
  #main {
    width: 100vw;
    height: 100vh;
    background-image: url(../bg_p.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border: none;
  }
}

#pack {
  width: 274px;
  height: 423px;
  top: 40px;
  left: -24px;
  background-image: url(../package.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #pack {
    width: 80%;
    height: 70%;
    top: 60%;
    left: -60px;
    transform: translate(0, 0);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #pack {
    width: 80%;
    height: 70%;
    top: 60%;
    left: -80px;
    transform: translate(0, 0);
  }
}

@media (max-width: 767px) {
  #pack {
    width: 75%;
    top: 54%;
    left: -40px;
    transform: translate(0, 0);
    background-position: top center;
  }
}

.cta {
  width: 254px;
  height: 76px;
  background-image: url(../cta_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}

.cta p {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: #FFF;
  font-size: 1.6em;
  font-family: 'uniform_roundedbold';
  text-align: center;
  user-select: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

#cta {
  left: 250px;
  top: 330px;
  z-index: 99;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #cta {
    top: auto;
    bottom: 60px;
    left: 57%;
    transform: translate(0, 0);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #cta {
    top: auto;
    bottom: 60px;
    left: 57%;
    transform: translate(0, 0);
  }
}

@media (max-width: 767px) {
  #cta {
    width: 154px;
    top: auto;
    bottom: 60px;
    left: 54%;
    transform: translate(0, 0);
  }
  #cta p {
    font-size: 1.0em;
  }
}

#logo {
  top: 100px;
  left: 240px;
  width: 280px;
  height: 202px;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #logo {
    top: 60%;
    left: 56%;
    transform: translate(0, 0);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #logo {
    top: 60%;
    left: 56%;
    transform: translate(0, 0);
  }
}

@media (max-width: 767px) {
  #logo {
    width: 40%;
    height: 20%;
    top: 56%;
    left: 52%;
    transform: translate(0, 0);
  }
}

#logoMix {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../logo_mix.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#logoMatch {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../logo_match.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#logoChew {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../logo_chew.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#timer {
  top: 115px;
  left: 300px;
  width: 160px;
  height: 160px;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #timer {
    top: 60%;
    left: 60%;
    transform: translate(0, 0);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #timer {
    top: 60%;
    left: 60%;
    transform: translate(0, 0);
  }
}

@media (max-width: 767px) {
  #timer {
    top: 54%;
    left: 56%;
    transform: translate(0, 0);
    width: 120px;
    height: 120px;
  }
}

#timerIcon {
  width: 100%;
  height: 100%;
}

#timerText {
  width: auto;
  height: auto;
  top: 50%;
  left: 22%;
  transform: translate(0, -50%);
  font-family: 'uniform_roundedbold';
  font-size: 4em;
  text-align: left;
  color: #FFF;
  user-select: none;
}

@media (max-width: 767px) {
  #timerText {
    left: 25%;
    font-size: 2.5em;
  }
}

#gameTxt {
  width: 280px;
  height: 92px;
  top: 304px;
  left: 236px;
  background-image: url(../gameTxt_01.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  pointer-events: none;
  opacity: 0;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #gameTxt {
    top: 80%;
    left: 56%;
    transform: translate(0, 0);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #gameTxt {
    top: 80%;
    left: 52%;
    transform: translate(0, 0);
  }
}

@media (max-width: 767px) {
  #gameTxt {
    top: 76%;
    left: 54%;
    transform: translate(0, 0);
    width: 38%;
    height: 92px;
    background-position: top center;
  }
}

/* ENDFRAME */
#endFrame {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../bg_endframe.jpg);
  z-index: 20;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #endFrame {
    background-image: url(../bg_endframe_p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #endFrame {
    background-image: url(../bg_endframe_p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (max-width: 767px) {
  #endFrame {
    background-image: url(../bg_endframe_p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

#endFrame_logo {
  width: 711px;
  height: 73px;
  top: 106px;
  left: 88px;
  background-image: url(../logo_endframe.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #endFrame_logo {
    top: 168px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #endFrame_logo {
    top: 168px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 767px) {
  #endFrame_logo {
    width: 94%;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background-position: center top;
  }
}

#scoreText {
  top: 182px;
  left: 35%;
  transform: translate(-50%, 0);
  width: 600px;
  height: 80px;
  text-align: center;
  color: #FFF;
  font-size: 4.4em;
  letter-spacing: -3.5px;
  font-family: 'uniform_roundedultra';
  user-select: none;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #scoreText {
    left: 50%;
    top: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #scoreText {
    left: 50%;
    top: 300px;
  }
}

@media (max-width: 767px) {
  #scoreText {
    left: 50%;
    top: 200px;
    width: 90%;
    font-size: 2.8em;
  }
}

#subHead {
  width: 159px;
  height: 31px;
  left: 370px;
  left: 34.7%;
  transform: translate(-50%, 0);
  top: 268px;
  color: #FFF;
  font-size: 1.6em;
  font-family: 'uniform_roundedbold';
  text-align: center;
  user-select: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #subHead {
    top: 260px;
    left: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #subHead {
    top: 260px;
    left: 50%;
  }
}

@media (max-width: 767px) {
  #subHead {
    top: 160px;
    left: 50%;
  }
}

#endCta1 {
  width: 288px;
  height: 78px;
  left: 144px;
  top: 324px;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #endCta1 {
    transform: translate(-110%, 0);
    top: 430px;
    left: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #endCta1 {
    transform: translate(-110%, 0);
    top: 430px;
    left: 50%;
  }
}

@media (max-width: 767px) {
  #endCta1 {
    transform: translate(-110%, 0);
    top: 280px;
    left: 50%;
    width: 154px;
  }
  #endCta1 p {
    font-size: 1.0em;
  }
}

#endCta2 {
  width: 288px;
  height: 78px;
  left: 458px;
  top: 324px;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #endCta2 {
    transform: translate(10%, 0);
    top: 430px;
    left: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #endCta2 {
    transform: translate(10%, 0);
    top: 430px;
    left: 50%;
  }
}

@media (max-width: 767px) {
  #endCta2 {
    transform: translate(10%, 0);
    top: 280px;
    left: 50%;
    width: 154px;
  }
  #endCta2 p {
    font-size: 1.0em;
  }
}

/* === === === === === === ==s

	GAME STUFF

=== === === === === === === */
#gameInner {
  top: 64px;
  right: 20px;
  width: 710px;
  height: 362px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #gameInner {
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #gameInner {
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 767px) {
  #gameInner {
    top: 70px;
    left: 50%;
    width: 96%;
    height: 246px;
    transform: translate(-50%, 0);
    justify-content: space-around;
    align-content: flex-start;
  }
}

.cardHolder {
  position: relative;
  width: 132px;
  height: 176px;
  perspective: 700px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .cardHolder {
    width: 90px;
    width: 22%;
    height: 120px;
  }
}

.cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../card_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  backface-visibility: hidden;
  transform: rotateY(0deg);
}

.cardBack {
  position: absolute;
  width: 132px;
  height: 176px;
  background-color: #ff00ff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  font-size: 2em;
  font-family: monospace;
  color: #FFF;
}

.cardBack img {
  max-width: 100%;
}
