@font-face {
  font-family: 'uniform_roundedultra';
  src: url("../../fonts/miller_type_foundry_-_uniform_rounded_ultra-webfont.woff") format("woff");  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'uniform_roundedblack';
  src: url("../../fonts/miller_type_foundry_-_uniform_rounded_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'uniform_roundedbold';
  src: url("../../fonts/miller_type_foundry_-_uniform_rounded_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// DESKTOP LESS THAN 1280 PX
@mixin small-desktop {
	@media (min-width : 1025px ) and ( max-width : 1279px ) {
		@content;
	}
}


@mixin tablet {
	@media (min-width : 768px) and (max-width : 1024px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width : 767px) {
		@content;
	}
}

body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	
}

body.gummies {
	@include mobile {
		overflow: hidden;
	}
}

div {
	position: absolute;
}

.gummies {
	//width: 20px;
	//height: 20px;
}

.gummies .header {
	@include mobile {
		//display: none;
	}
}

.instructions {
	@include small-desktop {
		display: none;
   }
   
   @include tablet {
	   display: none;
   }
   	
}

.gamePage {
	//background-color: black;
	
	@include mobile {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}
}

.gameHolder {
	//background-color: #003674;
	//background-color: blue;
	
	
	@include small-desktop {
		//background-color: green;
		width: 100vw;
		height: 100vh;
   }
   
   @include tablet {
	   //background-color: red;
	   width: 100vw;
	   height: 100vh;
   }
   
   @include mobile {
	   position: absolute;
	   top: 0;
	   left: 0;
	   //background-color: aqua;
	   width: 100%;
	   height: 100%;
	   overflow: hidden;
   }
   
}

#gameContainer {
	@include mobile {
	   position: absolute;
	   top: 0;
	   width: 100%;
	   height: 100%;
	   overflow: auto;
	   overflow: hidden;
	   
   }
}


#main {
	width: 1280px;
	height: 500px;
	//left: 50%;
	//transform: translate(-50%);
	background-image: url(../bg.jpg);
	//background-image: url(GUIDE_00.jpg);
	overflow: hidden;
	border: 2px solid #FFF;
  
	@include small-desktop {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background-image: url(../bg_p.jpg);
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
	}
	
	@include tablet {
		width: 100vw;
		height: 100vh;
		background-image: url(../bg_p.jpg);
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		border: none;
	}
  
	@include mobile {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(../bg_p.jpg);
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		border: none;
		overflow: hidden;
	}
  
}

#pack {
	//205 421
	width: 274px;
	height: 423px;
	top: 40px;
	left: -24px;
	background-image: url(../package.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	
	@include small-desktop {
		width: 80%;
		height: 70%;
		top: 60%;
		left: -60px;
		transform: translate(0, 0);
		//background-color: aqua;
	}
	
	@include tablet {
		width: 80%;
		height: 70%;
		top: 60%;
		left: -80px;
		transform: translate(0, 0);
		//background-color: aqua;
	}
	
	@include mobile {
		width: 75%;
		//height: 210px;
		top: 50%;
		left: -40px;
		transform: translate(0, 0);
		background-position: top center;
	}
}


.cta {
  width: 254px;
  height: 76px;
  background-image: url(../cta_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}

.cta p {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: #FFF;
  font-size: 1.6em;
  font-family: 'uniform_roundedbold';
  text-align: center;
  user-select: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

#cta {
  left: 250px;
  top: 330px;
  z-index: 99;
  
  @include small-desktop {
	  top: auto;
	  bottom: 60px;
	  left: 57%;
	  transform: translate(0, 0);
  }
  
  @include tablet {
	  top: auto;
	  bottom: 60px;
	  left: 57%;
	  transform: translate(0, 0);
  }
  
  @include mobile {
	  width: 154px;
	  //height: 76px;
	  top: auto;
	  bottom: 160px;
	  left: 54%;
	  transform: translate(0, 0);

	  & p {
		 font-size: 1.0em;
	  }
  }
  
}

#logo {
	top: 100px;
	left: 240px;
	width: 280px;
	height: 202px;
	
	@include small-desktop {
		top: 60%;
		left: 56%;
		transform: translate(0, 0);
  	}
  	
  	@include tablet {
		top: 60%;
		left: 56%;
		transform: translate(0, 0);
  	}
  	
  	@include mobile {
	  width: 40%;
	  height: 20%;
	  top: 52%;
	  left: 54%;
	  transform: translate(0, 0);
	  //background-color: aqua;
  	}
	
}

#logoMix {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../logo_mix.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#logoMatch {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../logo_match.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#logoChew {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../logo_chew.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#timer {
	top: 115px;
	left: 300px;
	width: 160px;
	height: 160px;
	
	@include small-desktop {
		top: 60%;
		left: 60%;
		transform: translate(0, 0);
	}
	
	@include tablet {
		top: 60%;
		left: 60%;
		transform: translate(0, 0);
	}
	
	@include mobile {
		top: 54%;
		left: 56%;
		transform: translate(0, 0);
		width: 120px;
		height: 120px;
	}
	
}

#timerIcon {
	width: 100%;
	height: 100%;
}

#timerText {
	width: auto;
	height: auto;
	top: 50%;
	left: 22%;
	transform: translate(0, -50%);
	font-family: 'uniform_roundedbold';
	font-size: 4em;
	text-align: left;
	color: #FFF;
	user-select: none;
	
	@include mobile {
		left: 25%;
		font-size: 2.5em;
	}
	
}

#gameTxt {
	width: 280px;
	height: 92px;
	top: 304px;
	left: 236px;
	background-image: url(../gameTxt_01.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	pointer-events: none;
	opacity: 0;
	
	@include small-desktop {
		top: 80%;
		left: 56%;
		transform: translate(0, 0);
	}
	
	@include tablet {
		top: 80%;
		left: 52%;
		transform: translate(0, 0);
	}
	
	@include mobile {
		top: 76%;
		left: 54%;
		transform: translate(0, 0);
		width: 38%;
		height: 92px;
		background-position: top center;
	}
}


/* ENDFRAME */

#endFrame {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../bg_endframe.jpg);
	z-index: 20;
	
	@include small-desktop {
		 background-image: url(../bg_endframe_p.jpg);
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: center center;
	}
	
	@include tablet {
		 background-image: url(../bg_endframe_p.jpg);
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: center center;
	}
	
	@include mobile {
		 background-image: url(../bg_endframe_p.jpg);
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: center center;
	}
}

#endFrame_logo {
	width: 711px;
	height: 73px;
	top: 106px;
	left: 88px;
	background-image: url(../logo_endframe.png);
	background-repeat: no-repeat;
	background-size: contain;
  	background-repeat: no-repeat;
  	pointer-events: none;
  	
  	@include small-desktop {
	  	top: 168px;
	  	left: 50%;
	  	transform: translate(-50%, 0);
  	}
  	
  	@include tablet {
	  	top: 168px;
	  	left: 50%;
	  	transform: translate(-50%, 0);
  	}
  	
  	@include mobile {
	  	width: 94%;
	  	top: 100px;
	  	left: 50%;
	  	transform: translate(-50%, 0);
	  	background-position: center top;
  	}
}

#scoreText {
	top: 182px;
	left: 35%;
	transform: translate(-50%, 0);
	width: 600px;
	height: 80px;
	text-align: center;
	color: #FFF;
	font-size: 4.4em;
	letter-spacing: -3.5px;
	font-family: 'uniform_roundedultra';
	user-select: none;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	pointer-events: none;
	
	@include small-desktop {
		left: 50%;
		top: 300px;
	}
	
	@include tablet {
		left: 50%;
		top: 300px;
	}
	
	@include mobile {
		left: 50%;
		top: 200px;
		width: 90%;
		font-size: 2.8em;
	}
}

#subHead {
	width: 159px;
	height: 31px;
	left: 370px;
	left: 34.7%;
	transform: translate(-50%, 0);
	top: 268px;
	//top: 56%;
	color: #FFF;
	font-size: 1.6em;
	font-family: 'uniform_roundedbold';
	text-align: center;
	user-select: none;
	text-rendering: optimizeLegibility;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
  
 	@include small-desktop {
		top: 260px;
		left: 50%;
	}
	
	@include tablet {
		top: 260px;
		left: 50%;
	}
	
	@include mobile {
		top: 160px;
		left: 50%;
	}
	
}

#endCta1 {
	width: 288px;
	height: 78px;
	left: 144px;
	top: 324px;
	
	@include small-desktop {
		transform: translate(-110%, 0);
	  	top: 430px;
		left: 50%;
	}
	
	@include tablet {
		transform: translate(-110%, 0);
	  	top: 430px;
		left: 50%;
	}
	
	@include mobile {
		transform: translate(-110%, 0);
	  	top: 280px;
		left: 50%;
		width: 154px;

		& p {
			font-size: 1.0em;
	  	}
	}
	
}

#endCta2 {
	width: 288px;
	height: 78px;
	left: 458px;
	top: 324px;
	
	@include small-desktop {
		transform: translate(10%, 0);
	  	top: 430px;
		left: 50%;
	}
	
	@include tablet {
		transform: translate(10%, 0);
	  	top: 430px;
		left: 50%;
	}
	
	@include mobile {
		transform: translate(10%, 0);
	  	top: 280px;
		left: 50%;
		width: 154px;

		& p {
			font-size: 1.0em;
	  	}

	}
	
}


/* === === === === === === ==s

	GAME STUFF

=== === === === === === === */

#gameInner {
	top: 64px;
	right: 20px;
	width: 710px;
	height: 362px;
	//background-color: #0e00ff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	//perspective: 100px;
	
	@include small-desktop {
		top: 160px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	
	@include tablet {
		top: 160px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	
	@include mobile {
		top: 70px;
		left: 50%;
		width: 96%;
		height: 246px;
		transform: translate(-50%, 0);
		justify-content: space-around;
		align-content: flex-start;
	}
	

}

.cardHolder {
	position: relative;
	width: 132px;
	height: 176px;
	//background-color: #ff0505;
	perspective: 700px;
	cursor: pointer;
	
	@include mobile {
		width: 90px;
		width: 22%;
		height: 120px;
	}
}

.cardFront {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../card_bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	//perspective: 1000px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: rotateY(0deg);
	
}

.cardBack {
	position: absolute;
	width: 100%;
	height: 100%;
	//background-color: #ff00ff;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	//perspective: 1000px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: rotateY(180deg);
	font-size: 2em;
	font-family: monospace;
	color: #FFF;
}

.cardBack img {
  position: absolute;
  max-width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

.cardFront img {
  max-width: 100%;
}







































//