.hero-carousel.hero--homepage {
	.hero_inner {
		padding-bottom: percentage(575/1600);

		@include breakpoint(small) {
			padding-bottom: 69%;
		}
	}
}

.hero_slide img,
.hero_slide video {
    width: 100%;
}

.hero-carousel {
	@include breakpoint(small) {
		display: none;
	}

	&_inner {
		height: 0;
		padding-bottom: percentage(715/1600); // force aspect ratio
		width: 100%;

		@include breakpoint(medium-and-above) {
			.faq-page &,
			.contact-page & {
				padding-bottom: percentage(358/1600); // force aspect ratio
			}
		}

		@include breakpoint(small) {
			padding-bottom: percentage(500/750); // force aspect ratio
		}
	}

	&_slides {
		display: none;
	}

	.slick-dots {
		position: absolute;
		bottom: 8%;
		left: 0;
		right: 0;
		text-align: center;

		.slick-active {
			button {
				background-color: #fff;
			}
		}

		li {
			display: inline-block;
			padding: 0 5px;

		}

		button {
			color: transparent;
			background-color: rgba(255, 255, 255, 0.5);
			font-size: 0;
			height: 14px;
			width: 14px;
			border-radius: 9999px;

			@include breakpoint(large) {
				height: 10px;
				width: 10px;
			}

		}
	}

	.slick-arrow {
		height: 60px;
		opacity: 0.8;
		transition: opacity 80ms linear;
		width: 60px;

		&:hover {
			opacity: 1;
		}

		&:before {
			font-size: 60px;
		}
	}
}
