@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

@mixin hide-text {
  font-size: 1px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// HOW TO USE:
// @include font-size-tracking(12, 200, 16);
@mixin font-size-tracking($size, $tracking: 1, $lh:$size) {

	$lh: ($lh / $size );
	font-size: $size+px;

    @if ($tracking == 'auto') {
        //blank
    } @else if($tracking == 0) {
        letter-spacing: 0px;
    } @else {
        letter-spacing: (($tracking / (1000)) * $size)+px;
    }

	line-height: $lh;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@function em($pixels, $context: $browser-context) {
  @return $pixels/$context/1px * 1em;
}

// Product Slider Theme
//
// $btn = button background color
// $title = title text color
// $description = description text color
//
// HOW TO USE:
// slide-theme(#0083bf, #01cfff, #a5eeff);

@mixin product-slider-theme($btn, $title, $description, $background: '') {
  & .product-slider_btn:link { background-color: $btn; }
  & .product-slider_product-title { color: $title; }
  & .product-slider_product-description { color: $description; }

  @if $background != '' {
    & .product-slider_content {
      background-color: $background;
    }
  }
}

@mixin separator($color) {
	content: "";
	position: absolute;
	width: 100%;
	height: 12px;
	content: "";
	left: 0;
	// a 1px gap appears in some resolutions in some browsers, so we cover it up with a 1px border
	border-top: 1px solid $color;
	background-repeat: repeat-x;
	// needed for IE11
	background-size: 29px 12px;
}
