.iframe {
  margin: 0 auto 50px;
	iframe {
		width: 100%;
		min-height: 1000px;
    background-image: url("//assets.airheads.com/img/spinner.gif");
    background-repeat: no-repeat;
    background-position: 50% 80px;
    background-size: 170px 170px;
	}
}
