.tumblr-posts {
	margin: $post-margin 0 0;
	min-height: 1200px;

	@include breakpoint(small){
		margin: $post-margin-mobile 0 0;
	}

	p:empty {
		display: none;
 	}
}

.tumblr-posts_inner {
	max-width: $posts-container-width;
	margin: auto;
	padding-bottom: 100px;
}

.tumblr-posts_posts {
	@include clearfix();

  &.is-loading {
    background: url("//assets.airheads.com/img/spinner.gif") no-repeat 50% 50px;
    background-size: 170px 170px;
  }
}

.tumblr-posts_grid-sizer,
.tumblr-posts_post {
	width: percentage(520/1060);

	@include breakpoint(small){
		width: 100%;
	}
}

.tumblr-posts_gutter-sizer {
	width: percentage(20/1060);

	@include breakpoint(small){
		width: $post-margin-mobile;
	}
}

.tumblr-posts_post {
	display: block;
	margin-bottom: $post-margin;
	overflow: hidden; // so share wrapper gets hidden

	@include breakpoint(large-only) {
		&:hover {
			.tumblr-posts_post-share-wrapper {
				transform: translateY(0);
			}
		}
	}
}

.tumblr-posts_post-share-wrapper {
	background-color: $color-blue;
	color: white;
	padding: 4% 5% 3%;
	text-align: center;
	transition: transform 200ms $cubic-bezier;

	@include breakpoint(large-only) {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		transform: translateY(101%);
	}

  .post_title  {
    @include font-size-tracking(20, 0, 25);
    color: #00aeef;
    padding-bottom: 5%;

    @include breakpoint(medium) {
      @include font-size-tracking(18, -10, 16);
    }
  }
}

.tumblr-posts_post--text {
  .post_tags {
    padding-top: 10%;
  }
}

.tumblr-posts_post-download-link {
  @include font-size-tracking(18, -30, 30);
  color: white;
  padding-top: 1%;
  text-transform: none;
}

.tumblr-posts_error {
  @include font-size-tracking(20, 0, 25);
  color: $color-red;
}

$load-more-width: em(130px,28);

.tumblr-posts_load-more {
	@include font-size-tracking(28,0);
	@include icon(caret-down,true);
	color: $color-white;
    background-color: $color-green;
    border-radius: 50%;
    bottom: $load-more-width/(-3);
    height: $load-more-width;
    left: 50%;
    line-height: $load-more-width;
    margin-left: $load-more-width/(-2);
    position: absolute;
    text-align: center;
    width: $load-more-width;
    z-index: 1;
    display: none; // hide initially, js will show

    &:after {
		color: $color-white;
		position:absolute;
		bottom: -1em;
		width: 100%;
    }

    @include breakpoint(medium)  {
		font-size: 20px;
    }
    @include breakpoint(small)  {
		font-size: 15px;
    }
}

// shared styles between tumblr-posts and single-post
.tumblr-posts_post--text,
.single-post_post--text,
.tumblr-posts_post--chat,
.single-post_post--chat,
.tumblr-posts_post--link,
.single-post_post--link {
  .post_title {
    margin-bottom: 4%;
  }
}

.tumblr-posts_post--chat,
.single-post_post--chat {
  .post_title {
    margin-bottom: 1%;
  }
}

.tumblr-posts_post--text,
.single-post_post--text,
.tumblr-posts_post--chat,
.single-post_post--chat {
  .post_title {
    @include font-size-tracking(36, 0, 43);
    color: #00b9ff;
    text-transform: uppercase;

    @include breakpoint(medium-and-below) {
      @include font-size-tracking(32, -10, 36);
    }
  }
}

.tumblr-posts_post--text,
.single-post_post--text,
.tumblr-posts_post--quote,
.single-post_post--quote {
  .post_content {
    padding: 10%;

    @include breakpoint(medium-and-below) {
      padding: 8%;
    }
  }
}

.tumblr-posts_post--chat,
.single-post_post--chat {
  .post_content {
    padding: 10%;

    @include breakpoint(medium-and-below) {
      padding: 9%;
    }
  }
}

.tumblr-posts_post--text,
.single-post_post--text,
.tumblr-posts_post--quote,
.single-post_post--quote {
  @include font-size-tracking(20, 0, 26);
  color: white;
}

.tumblr-posts_post--text,
.single-post_post--text {
  background-color: #007bc3;

  .post_title {
    margin-bottom: 7%;
  }
}

.tumblr-posts_post--text p,
.single-post_post--text p {
  @include font-size-tracking(20, 0, 28);

  @include breakpoint(medium-and-below) {
    letter-spacing: -0.3px;
    line-height: 1.3;
  }
}

.tumblr-posts_post--text p {
  @include breakpoint(medium-and-below) {
    line-height: 1.2;
  }
}

.tumblr-posts_post--link,
.single-post_post--link {
  background-color: #0db0ec;

  .post_title {
    @include font-size-tracking(26, 0, 30);
    color: white;
		margin: 0;
    padding: 5%;
    text-align: center;

    @include breakpoint(medium-and-below) {
      @include font-size-tracking(20, 0, 24);
    }
  }
}

.tumblr-posts_post--quote,
.single-post_post--quote {
  background-color: #00aeef;
}

.tumblr-posts_post--chat,
.single-post_post--chat {
  background-color: #5a2d82;

  .post_title {
    color: #e6cafe;
  }
}

.tumblr-posts_post--audio,
.single-post_post--audio,
.tumblr-posts_post--video,
.single-post_post--video {
  background-color: #000;
  color: #fff;
}

.tumblr-posts_post--photo {
  position: absolute; // so content starts at top
  top: 0;

  @include breakpoint(small) {
    margin-bottom: $post-margin-mobile;
  }

  img {
    width: 100%;
    display: block;
    transition: opacity 200ms linear;
  }
}

.post_tags {
  @include font-size-tracking(36, 11, 40);
  text-transform: uppercase;
}

.post_conversation {
  padding-top: 5%;
}

.post_line {
  margin-bottom: 12px;

  @include breakpoint(small) {
    margin-bottom: 10px;
  }

  &:last-child { margin-bottom: 0; }
}

.post_line.odd { color: #cf9dfb; }
.post_line.even { color: #e6cafe; }

.post_person {
  @include font-size-tracking(20, -10, 25);
}

.post_person-said {
  @include font-size-tracking(20, -10, 25);

  @include breakpoint(small) {
    letter-spacing: -0.3px;
  }
}

.post_person,
.post_person-said {
  @include breakpoint(medium-and-below) {
    line-height: 1;
  }

  @include breakpoint(medium-only) {
    font-size: 18px;
  }
}

.post_quote {
  @include font-size-tracking(30, -10, 36);

  @include breakpoint(medium-and-below) {
    @include font-size-tracking(22, -20, 26);
  }
}

.post_source {
  @include font-size-tracking(20, -10, 24);
  padding-top: 10%;
  text-transform: uppercase;

  @include breakpoint(medium-and-below) {
    @include font-size-tracking(18, -8, 22);
  }
}

.post_caption {
  padding: 6% 5%;
}

.post_image {
  max-width: 100%;
}

.post_video-player {
  height: 0;
  overflow: hidden;
  padding-bottom: percentage(9/16);

  iframe,
  object,
  embed {
    height: 100% !important;
    left: 0;
    position: absolute;
    width: 100% !important;
    top: 0;
  }
}
