$row-horiz-padding: 50px;
$product-links-offset: 44%;
// multiples of product button heights are used for spacing
$button-height-large: 61px;
$button-height-medium: 50px;
$button-height-small: 43px;

@mixin shadow() {
	mix-blend-mode: soft-light;
	opacity: 0.4;
	filter: blur(10px);
}

.product {
	@include font-size-tracking(22, 0, 34);
	background-color: $color-blue-light;
	color: $color-white;
	display: flex;

	// odd products go the other direction
	&:nth-child(2n) {
		& .product-links {
			left: $row-horiz-padding;
			right: auto;

			@include breakpoint(small) {
				left: auto;
			}
		}

		& .product-content {
			flex-direction: row-reverse;

			& .product-description {
				align-items: flex-start;
			}

			& .product-text {
				text-align: left;

				@include breakpoint(small) {
					text-align: center;
				}
			}
		}
	}

	&:nth-child(3n-2) {
		// gradient stop to make sure colors line up w/separator
		background: linear-gradient(#002b70, #00286b, #002e70, #003673);

		&:after {
			@include separator(#00b8fe);
			top: -1px;
			background-image: url(//assets.airheads.com/img/sawtooth/edge-lightblue.svg);
		}
	}

	&:nth-child(3n-1) {
		background: linear-gradient(#e4112c, #e30f29, #e6102f, #ed1041);

		&:after {
			@include separator(#003673);
			top: -1px;
			background-image: url(//assets.airheads.com/img/sawtooth/edge-darkblue.svg);
		}
	}

	&:nth-child(3n) {
		background: linear-gradient(#009ff2, #009df2, #009ef4, #00b8fe);

		&:after {
			@include separator(#ed1041);
			top: -1px;
			background-image: url(//assets.airheads.com/img/sawtooth/edge-red.svg);
		}
	}

	&:last-child:after {
		border: 8px solid green;
		top: 0;
	}
}

#bars:after {
	border-top: 1px solid #fff;
	background-image: url(//assets.airheads.com/img/sawtooth/edge-white.svg);
}

.product-content {
	display: flex;
	margin: 0 auto;
	padding: 0 $row-horiz-padding;

	& img {
		max-width: 100%;
		display: inline-flex;
	}

	@include breakpoint(small) {
		display: block;
		width: 100%;
		max-width: 615px;
	}

	@include breakpoint(micro) {
		padding: 0 8px;
	}
}

.product-image {
	align-self: center;
	flex-shrink: 1;
	width: 100%; // IE11 fix

	& > .drop-shadow {
		display: none;
	}

	@include breakpoint(medium-and-above) {
		& > .drop-shadow {
			display: block;
		}
	}
}

.product-description {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	margin-bottom: $button-height-large * 2;
	width: 100%; // IE11 fix

	@include breakpoint(medium) {
		margin-bottom: $button-height-medium * 2;
	}

	@include breakpoint(small) {
		margin-bottom: $button-height-small * 2;
	}
}

.product-title {
	margin: ($button-height-large * 3 + $sawtooth-height) 0
		($button-height-large / 2) 0;
	display: inline-block;

	@include breakpoint(medium) {
		margin: ($button-height-medium * 3 + $sawtooth-height) 0
			($button-height-medium / 2) 0;
	}

	@include breakpoint(small) {
		display: none;
	}
}

.product-title-mobile {
	margin: $button-height-small 0 ($button-height-small / 2) 0;
	display: inline-block;
	width: 100%; // IE11 fix

	@include breakpoint(medium-and-above) {
		display: none;
	}
}

.product-text {
	text-align: right;
	max-width: 500px;
	width: 100%; // IE11 fix
	font-size: 22px;
	letter-spacing: 0.3px;

	@include breakpoint(medium-only) {
		max-width: 400px;
		font-size: 18px;
	}

	@include breakpoint(small) {
		text-align: left;
	}

	@include breakpoint(micro) {
		font-size: 18px;
		text-align: center;
	}
}

.product-links {
	display: flex;
	justify-content: center;
	position: absolute;
	right: $row-horiz-padding;
	margin-top: $button-height-large + $sawtooth-height;
	z-index: 1;

	@include breakpoint(medium) {
		margin-top: $button-height-medium + $sawtooth-height;
	}

	@include breakpoint(small) {
		margin: ($button-height-small + $sawtooth-height) 0 $button-height-small
			0;
		position: relative;
		right: auto;
		left: auto;
	}

	@include breakpoint(nano) {
		flex-direction: column;
		text-align: center;
	}
}

.product-btn {
	cursor: pointer;
	font-weight: bold;
	border: 3px solid white;
	border-radius: 9999px;
	font-size: 19px;
	padding: 13px 18px;
	margin: 5px;
	flex-shrink: 0;

	@include breakpoint(medium-only) {
		font-size: 16px;
		padding: 10px 15px;
		border: 2px solid white;
	}

	@include breakpoint(small) {
		font-size: 16px;
		padding: 13px 16px;
		margin: 3px;
		border: 2px solid white;
	}

	@include breakpoint(micro) {
		font-size: 14px;
		padding: 8px 8px;
		border: 2px solid white;
		margin: 2px;
	}
}

.shadow-mask {
	top: 10px;
	left: -10px;
	position: absolute;
	filter: blur(10px);
	opacity: 0.2;
}

.shadow {
	position: absolute;
	left: -50px;
	top: 20%;
	opacity: 0.4;
	filter: blur(8px);
	mix-blend-mode: soft-light;

	#gum & {
		left: auto;
		right: 0px;
	}
}

@include breakpoint(small) {
	.product-nav,
	.hero-carousel.candy {
		display: none;
	}
}

.drop-shadow {
	position: absolute;
	right: 0;
	bottom: -($button-height-large * 2) + $button-height-large;
	height: 30px;
	mix-blend-mode: soft-light;
	opacity: 0.4;
	filter: blur(10px);

	.ie11 & {
		display: none;
	}

	&.drop-shadow-description {
		right: 0;
		&.odd {
			right: auto;
			left: 0;
		}
	}

	.product-image & {
		// bottom: $button-height-large;
		width: 100%;
		text-align: center;

		& .drop-shadow-inner {
			width: 60%;
			height: 13px;
			margin: 0 auto;
		}
	}

	@include breakpoint(medium) {
		bottom: -($button-height-medium * 2) + $button-height-medium;
		height: 50px;
	}

	@include breakpoint(small) {
		width: 100%;
	}
}
