@mixin fixed() {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.global-header {
	height: 127px; // so when fixed, does not collapse content
	margin-bottom: $edge-height;
	z-index: 1001;
	width: 100%;

	@include breakpoint(medium) {
		height: 98px;
	}

	@include breakpoint(small) {
		height: 60px;
		margin-bottom: -1 * $edge-height;
	}

	// js applies fixed class to body on scroll
	._fixed-header & {
		&_fixed-wrapper {
			box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.5);
			@include fixed();
		}
	}

	&--menu-open {
		.global-header_nav {
			max-height: 300px;
		}
		.global-header_hamburger {
			background-color: transparent;

			&:after {
				transform: rotate(45deg);
				bottom: 0;
			}
			&:before {
				transform: rotate(-45deg);
				top: 0;
			}
		}
	}

	&_fixed-wrapper {
		background-color: $color-white;

		// header always fixed on mobile
		@include breakpoint(small) {
			@include fixed();
		}

		& .divider {
			@include separator($color-white);
			height: 13px;
			bottom: -12px;
			transition: transform 100ms linear;
			background-image: url(//assets.airheads.com/img/sawtooth/edge-white.svg);
		}
	}

	&_inner {
		padding: 10px $padding-left-right;
		display: flex;
		justify-content: center;
		margin: auto;

		@include breakpoint(medium) {
			display: block;
			padding: 9px 0; // move padding to children
		}
		@include breakpoint(small) {
			padding: 4px 0; // move padding to children
		}
	}
	&_logo {
		top: 3px; // for alignment

		@include breakpoint(medium) {
			top: 0;
		}

		a {
			display: block;
			height: 0;
			padding-bottom: 75%;

			@include breakpoint(medium-and-above) {
				padding-bottom: 81%;
			}
		}

		img {
			width: 12vw;
			max-width: 128px;

			@include breakpoint(small) {
				width: 75px;
			}
		}
	}
	&_menu {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include breakpoint(medium) {
			padding: 0 20px;
		}
		@include breakpoint(small) {
			padding: 0 $padding-left-right-mobile;
		}
	}

	//tablet
	$hamburger-width: 55px;
	$hamburger-height: 10px;
	$hamburger-spacing: 5px;

	//mobile
	$hamburger-width-mobile: 30px;
	$hamburger-height-mobile: 6px;
	$hamburger-spacing-mobile: 3px;

	&_hamburger-menu {
		display: none;

		@include breakpoint(medium) {
			height: $hamburger-height * 3 + $hamburger-spacing * 2;
			display: block;
		}
		@include breakpoint(small) {
			height: $hamburger-height-mobile * 3 + $hamburger-spacing-mobile * 2;
		}
	}
	&_hamburger {
		top: $hamburger-height + $hamburger-spacing;

		@include breakpoint(small) {
			top: $hamburger-height-mobile + $hamburger-spacing-mobile;
		}

		&,
		&:before,
		&:after {
			display: block;
			background-color: $color-blue;
			width: $hamburger-width;
			height: $hamburger-height;
			border-radius: 15px;
			transition: all 120ms ease-out;

			@include breakpoint(small) {
				width: $hamburger-width-mobile;
				height: $hamburger-height-mobile;
			}
		}
		&:before,
		&:after {
			content: "";
			position: absolute;
		}
		&:before {
			top: -1 * ($hamburger-height + $hamburger-spacing);

			@include breakpoint(small) {
				top: -1 * ($hamburger-height-mobile + $hamburger-spacing-mobile);
			}
		}
		&:after {
			bottom: -1 * ($hamburger-height + $hamburger-spacing);

			@include breakpoint(small) {
				bottom: -1 *
					($hamburger-height-mobile + $hamburger-spacing-mobile);
			}
		}
	}
	&_nav {
		margin-left: 67px;
		display: flex;
		align-items: center;

		@include breakpoint(large) {
			margin-left: 100px;
			max-width: 660px; // for alignment
		}
		@include breakpoint(medium) {
			background-color: #fff;
			display: block;
			margin: 0;
			max-width: inherit;
			max-height: 0;
			z-index: 1;
			overflow: hidden;
			transition: max-height 250ms ease-in-out;
		}
	}
	&_nav-item {
		@include font-size-tracking(24, -10, 26);
		font-weight: 600;
		color: $color-text-blue;
		transition: color 120ms linear;
		margin-left: 40px;
		text-align: center;

		&:first-child {
			margin-left: 0;
		}

		&--active,
		&:hover {
			color: $color-green-light;
		}
		&--active {
			pointer-events: none;
		}

		@include breakpoint(medium) {
			display: block;
			padding: 15px 0;
			margin: 0 8% !important;
			border-top: 1px solid $color-border-light-blue;

			&:first-child {
				border: none;
			}
			&:last-child {
				margin-bottom: 10px;
			}
		}
	}
}
